/* base rules */
*{
    margin: 0;
    padding: 0;
}
h1,h2,h3,h4,h5,h6{
    font-family:'Montserrat', sans-serif ;
}
p{
    font-family:'Nunito',sans-serif ;
    font-size: 20px;
    line-height: 30px;
    color: #6c757d;
}
.r-p{
    padding-top: 80px;
    padding-bottom: 80px ;
}
.bg-sec{
    background: #f8F9FA;
}
.r-btn{
    padding: 5px 20px;
    background-color: #e65f78;
    color: #fff !important;
}
/* Preloader
.preloader{
    position: fixed;
    top:0;
    left: 0;
    width:100%;
    height:100% ;
    background-color: #000;
    z-index: 99998;
}
.preloader::before {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50%;
    background: #000;
    transition: 1s;
}

.preloader::after{
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 50%;
    background: #000;
    transition: 1s;
}
.preloader.complete:before{
    bottom: -50%;
}
.preloader.complete:after{
    top: -50%;
}

.preloader.complete{
    visibility: hidden;
}

.circle{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border:10px solid rgba(255,255,255,0.1);
    border-top:10px solid #ee8683 ;
    animation:animate 1.5s infinite linear;
    z-index: 99999;
}
@keyframes animate{
    0%{
        transform: translate(-50%,-50%) rotate(0deg);
    }
    100%{
        transform: translate(-50%,-50%) rotate(360deg);
    }
}
*/
.loader-container{
    position: fixed;
    top: 0; left: 0;
    z-index: 10000;
    background: #e6eff1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
  }
  .loader-container.fade-out{
    top: -120%;
  }
/* Navigation*/
nav.r-nav{
    background: transparent;
    padding: 20px 0;
    transition: .5s all;
}

nav .navbar-brand{
   font-size: 30px;
   color: #fff; 
}

nav .navbar-nav li a{
    color:rgba(255,255,255,0.8) !important;
    font-size: 16px;
    letter-spacing: 0.05cm;
    font-weight: 600;
    font-family: 'Nunito',sans-serif;

}
nav .navbar-nav li{
    margin-left: 15px;
}

nav.r-nav.stickyadd{
    background: #fff !important;
    padding: 5px 0;
    box-shadow: 0 1px 8px 3px rbga(0,0,0,0.05);
    transition: .5s all ease-in-out;
}
nav.stickyadd .navbar-brand{
    color: #000;
    font-size: 40px;
    transition: .5s all;
}
nav.stickyadd .navbar-nav .nav-link{
    color: #000 !important;

}
.navbar .hamburger{
    color:#fff;
}
nav.stickyadd .hamburger{
    color: #000;
}
/* Header Section*/
header{
    height:100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url('https://i.imgur.com/IXI4F5bh.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.header-content{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.content-box{
    max-width: 700px;
    color:#fff
}
.content-box h4{
    font-size: 30px;
}
.content-box h1{
    font-size:52px;
}
.content-box a{
    color: #fff;
    text-decoration: none;
    border: 2px solid;
    border-radius: 20px;
    padding: 5px 25px;
}
.content-box a:hover{
    color: #000;
    background: #fff;
    transition: 0.5s all;
}
.content-box p{
   color: #fff; 
}
/*About*/
.about li a{
    color: #000;
    display: inline-block;
    height: 42px;
    width:42px;
    font-size: 20px;
    border: 2px solid #d4d4d4;
    border-radius:50%;
    line-height:40px;
    transition: 0.5s all;
    text-align: center;
}
.about li a:hover{
    color:#EE8683;  
}
/* Experience Section*/
.exp-clas .progress{
   height: 10px;
   border-radius:20px;
   font-size: 10px; 
}
.progress-bar{
    background-color: #EE8683 !important;
}
.exp-class label{
   font-size:20px; 
   margin:10px;
}
/*Education section*/

.card,.card-header{
    background: #F8F9FA !important;
    
}
.card-header{
    border: none !important;
}
.education-class .card-header{
    font-size: 50px;
}
.edu-border{
    height: 2px;
    width: 40px;
    margin: 15px auto;
    background: #e65f78;
}
.card-text-2{
    font-size:15px;
}
/* Work Section*/
.work{
    background:#010115ef;
    color: #fff;
    font-weight: 200;
}
.work .card-wrapper{
    padding-top: 15px;
    padding-bottom: 15px ;
    
}
/*Testimony
.exp-class .test-item{
    max-width: 500px;
    margin: 50px auto;
}
.exp-class .test-item .test-img{
   width: 50px;
   height: 50px;
   object-fit: cover;
}
.exp-class .test-item i{
    color: grey ;
}
.test-item p.test-name{
 font-size: 11px;
}
*/
footer{
    height: 200px;
    background-color: #333333;
}
footer .r-icon a{
    display: flex;
    font-size:20px;
    color:#848484;
    padding: 10px;
    border: 1px solid #848484;
    border-radius:50%;
}
footer .r-icon a:hover{
    border:1px solid #eee;
    color: #eee;
    transition: .5s all;
}

